<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    APIs - Inventory
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-list-alt active"></i><i class="fa fa-medkit active"></i> APIs - Inventory</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">APIs - Inventory</h3>
    </div>
    <div class="box-body">

      <form id="form-inventory-select" class="form-horizontal">
        <div class="form-group">
          <label for="userTitle" class="col-sm-2 control-label">Inventory</label>

          <div class="col-sm-10">
            <div class="input-group">
              <select class="form-control" name="inventory" id="inventory" placeholder="Search Inventory" style="width: 100%;" required onchange="selectInventory()">
              </select>
              <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
            </div>
          </div>
        </div>
      </form>

      <form id="form-inventory-update" class="form-horizontal">
        <input type="hidden" class="form-control" name="inventoryID" id="inventoryID" required>
        <input type="hidden" class="form-control" name="inventoryStatus" id="inventoryStatus" value="active" required>
        <input type="hidden" class="form-control" name="updateType" id="updateType" value="inventory" required>
        <input type="hidden" class="form-control" name="inventoryName" id="inventoryName" required>
        <input type="hidden" class="form-control" name="inventoryQuantity" id="inventoryQuantity" required>
        <input type="hidden" class="form-control" name="inventoryPackaging" id="inventoryPackaging" required>
        <input type="hidden" class="form-control" name="inventoryCostprice" id="inventoryCostprice" required>
        <input type="hidden" class="form-control" name="inventorySellingprice" id="inventorySellingprice" required>
        <input type="hidden" class="form-control" name="inventoryReorderlevel" id="inventoryReorderlevel" required>
        <input type="hidden" class="form-control" name="inventoryBarcode" id="inventoryBarcode">
        <input type="hidden" class="form-control" name="inventoryExpirydate" id="inventoryExpirydate" required>
        <div class="form-group">
          <label for="inventoryApis" class="col-sm-2 control-label">APIs</label>

          <div class="col-sm-10">
            <div class="input-group">
              <select class="form-control" multiple data-placeholder="Search APIs" name="inventoryApis" id="inventoryApis" style="width: 100%;">
              </select>
              <span class="input-group-addon"><i class="fa fa-medkit"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> &nbsp; Update Inventory</button>
          </div>
        </div>
        <div class="form-group">
          <label for="InventoryAPIsList" class="col-sm-2 control-label">APIs</label>

          <div class="col-sm-10">
            <div id="InventoryAPIsList"></div>
          </div>
        </div>
      </form>
      <div id="form-inventory-update-loader"></div>

    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
<!-- page script -->
<script>
  $(function () {
    select2Search("inventory", "form-inventory-select #inventory");
    SQLDBQueryLoader("fetchAPI", "", "");
    $("#form-inventory-update #inventoryApis").select2({
      theme: "classic"
    });
    $("#form-inventory-update").hide();
    $("#form-inventory-update #inventoryExpirydate").inputmask("yyyy-mm-dd", {"placeholder": "yyyy-mm-dd"});
    $("#form-inventory-update").submit(function(e){
      e.preventDefault(e);
      $("button").attr("disabled", "disabled");
      if (!$("#form-inventory-update #inventoryApis").val()) {
        var inventoryApis = "";
      }
      else {
        var inventoryApis = $("#form-inventory-update #inventoryApis").val().join(",");
      }
      loader("form-inventory-update-loader", "py", 'inventory/update/' + $("#form-inventory-update #inventoryID").val(), { inventoryID: $("#form-inventory-update #inventoryID").val(), inventoryStatus: $("#form-inventory-update #inventoryStatus").val(), updateType: $("#form-inventory-update #updateType").val(), inventoryName: $("#form-inventory-update #inventoryName").val(), inventoryQuantity: $("#form-inventory-update #inventoryQuantity").val(), inventoryPackaging: $("#form-inventory-update #inventoryPackaging").val(), inventoryCostprice: $("#form-inventory-update #inventoryCostprice").val(), inventorySellingprice: $("#form-inventory-update #inventorySellingprice").val(), inventoryReorderlevel: $("#form-inventory-update #inventoryReorderlevel").val(), inventoryBarcode: $("#form-inventory-update #inventoryBarcode").val(), inventoryExpirydate: $("#form-inventory-update #inventoryExpirydate").val(), inventoryApis: inventoryApis }, "", true);
    });
  });
  function selectInventory() {
    $("#form-inventory-update #inventoryID").val($("#form-inventory-select #inventory").val());
    loader("py-content", "py", 'inventory/select/' + $("#form-inventory-update #inventoryID").val(), { inventory: $("#form-inventory-select #inventory").val() }, "", false);
    $("#form-inventory-update").show();
  }
  function loadFormInventoryUpdate(inventory) {
    $("#form-inventory-update #inventoryName").val(inventory[0].name);
    $("#form-inventory-update #inventoryQuantity").val(inventory[0].quantity);
    $("#form-inventory-update #inventoryPackaging").val(inventory[0].packaging);
    $("#form-inventory-update #inventoryCostprice").val(inventory[0].costprice);
    $("#form-inventory-update #inventorySellingprice").val(inventory[0].sellingprice);
    $("#form-inventory-update #inventoryReorderlevel").val(inventory[0].reorderlevel);
    $("#form-inventory-update #inventoryBarcode").val(inventory[0].barcode);
    $("#form-inventory-update #inventoryExpirydate").val(inventory[0].expirydate);
    $("#form-inventory-update #inventoryApis").val(inventory[0].apis);
    loadInventoryAPIsList(inventory[0].apis);
    $("#form-inventory-update #inventoryStatus").val(inventory[0].status);
  }
  function loadAPIOptions(data) {
    var selectAPIOptions = '<optgroup label="Drug / Drug Class">';
    for (var i = 0; i < data[0].values.length; i++) {
      selectAPIOptions += '<option>' + data[0].values[i][0] + '</option>';
    }
    selectAPIOptions += '<optgroup>';
    $("#inventoryApis").html(selectAPIOptions);
  }
  function loadInventoryAPIsList(data) {
    var arr = data.split(",");
    arr.sort(function (a, b) {
      return a.localeCompare(b);
    });
    var list = '<ul class="list-unstyled"><li><b><i class="fa fa-medkit"></i> APIs List</b><ul>';
    for (var i = 0; i < arr.length; i++) {
      if (arr[i] != " " && arr[i] != null && arr[i].length > 0) {
        list = list + '<li>' + arr[i] + '</li>';
      }
      else {
        list = list + '<li>Nil</li>';
      }
    }
    list = list + '</ul></li></ul>';
    $("#InventoryAPIsList").html(list);
    $("#form-inventory-update #inventoryApis").val(arr).trigger("change");
  }
</script>
