<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Add Inventory
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-list-alt active"></i><i class="fa fa-plus active"></i> Add Inventory</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

  <div class="box box-success">
    <div class="box-header with-border">
      <h3 class="box-title">Add Inventory</h3>
    </div>
    <div class="box-body">

      <form id="form-inventory-insert" class="form-horizontal">
        <input type="hidden" class="form-control" name="inventoryStatus" id="inventoryStatus" value="active" required>
        <input type="hidden" class="form-control" name="inventoryApis" id="inventoryApis" value="">
        <div class="form-group">
          <label for="inventoryName" class="col-sm-2 control-label">Name</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" name="inventoryName" id="inventoryName" placeholder="Name" required>
              <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inventoryQuantity" class="col-sm-2 control-label">Quantity</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input type="number" min="0" step="0.1" class="form-control" name="inventoryQuantity" id="inventoryQuantity" placeholder="Quantity" required>
              <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inventoryPackaging" class="col-sm-2 control-label">Packaging</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" name="inventoryPackaging" id="inventoryPackaging" placeholder="Packaging" required>
              <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inventoryCostprice" class="col-sm-2 control-label">Cost Price</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input type="number" min="0" step="0.01" class="form-control" name="inventoryCostprice" id="inventoryCostprice" placeholder="Cost Price" required>
              <span class="input-group-addon"><i class="fa fa-money"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inventorySellingprice" class="col-sm-2 control-label">Selling Price</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input type="number" min="0" step="0.01" class="form-control" name="inventorySellingprice" id="inventorySellingprice" placeholder="Selling Price" required>
              <span class="input-group-addon"><i class="fa fa-money"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inventoryReorderlevel" class="col-sm-2 control-label">Reorder Level</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input type="number" min="0" step="0.1" class="form-control" name="inventoryReorderlevel" id="inventoryReorderlevel" placeholder="Reorder Level" required>
              <span class="input-group-addon"><i class="fa fa-list-alt"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inventoryBarcode" class="col-sm-2 control-label">Barcode</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" name="inventoryBarcode" id="inventoryBarcode" placeholder="Barcode">
              <span class="input-group-addon"><i class="fa fa-barcode"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="inventoryExpirydate" class="col-sm-2 control-label">Expiry Date</label>

          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" name="inventoryExpirydate" id="inventoryExpirydate" placeholder="Expiry Date" required>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success"><i class="fa fa-save"></i> &nbsp; Add Inventory</button>
          </div>
        </div>
      </form>
      <div id="form-inventory-insert-loader"></div>

    </div>
    <!-- /.box-body -->
  </div>
  <!-- /.box -->

</section>
<!-- /.content -->
<!-- page script -->
<script>
  $(function () {
    $("#form-inventory-insert #inventoryExpirydate").inputmask("yyyy-mm-dd", {"placeholder": "yyyy-mm-dd"});
    $("#form-inventory-insert").submit(function(e){
      e.preventDefault(e);
      $("button").attr("disabled", "disabled");
      loader("form-inventory-insert-loader", "py", "inventory/insert", $("#form-inventory-insert").serializeArray(), "", true);
    });
  });
</script>
