<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Inventory
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-list-alt active"></i> Inventory</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <a href="#" onclick='loader("html-content", "popup", "inventory-add", "", "", false);'>
            <h3 class="text-white">Add</h3>
          </a>

          <a href="#" onclick='loader("html-content", "popup", "inventory-add", "", "", false);'>
            <p class="text-white">Add Inventory</p>
          </a>
        </div>
        <div class="icon">
          <a href="#" onclick='loader("html-content", "popup", "inventory-add", "", "", false);'>
            <i class="fa fa-list-alt text-white"></i>
            <i class="fa fa-plus text-white"></i>
          </a>
        </div>
        <a href="#" onclick='loader("html-content", "popup", "inventory-add", "", "", false);' class="small-box-footer text-white">Add Inventory <i class="fa fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-primary">
        <div class="inner">
          <a href="#" onclick='loader("inventory-content", "templates", "inventory-list", "", "", true);scroll("inventory-content");'>
            <h3 class="text-white">List</h3>
          </a>

          <a href="#" onclick='loader("inventory-content", "templates", "inventory-list", "", "", true);scroll("inventory-content");'>
            <p class="text-white">List Inventory</p>
          </a>
        </div>
        <div class="icon">
          <a href="#" onclick='loader("inventory-content", "templates", "inventory-list", "", "", true);scroll("inventory-content");'>
            <i class="fa fa-list-alt text-white"></i>
            <i class="fa fa-list text-white"></i>
          </a>
        </div>
        <a href="#" onclick='loader("inventory-content", "templates", "inventory-list", "", "", true);scroll("inventory-content");' class="small-box-footer text-white">List Inventory <i class="fa fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pro-feature">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <a href="#" onclick='loader("html-content", "popup", "inventory-supply", "", "", false);'>
            <h3 class="text-white">Supply</h3>
          </a>

          <a href="#" onclick='loader("html-content", "popup", "inventory-supply", "", "", false);'>
            <p class="text-white">Inventory Supply</p>
          </a>
        </div>
        <div class="icon">
          <a href="#" onclick='loader("html-content", "popup", "inventory-supply", "", "", false);'>
            <i class="fa fa-list-alt text-white"></i>
            <i class="fa fa-plus-square text-white"></i>
          </a>
        </div>
        <a href="#" onclick='loader("html-content", "popup", "inventory-supply", "", "", false);' class="small-box-footer text-white">Inventory Supply <i class="fa fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 pro-feature">
      <!-- small box -->
      <div class="small-box bg-primary">
        <div class="inner">
          <a href="#" onclick='loader("inventory-content", "templates", "inventory-supply-search", "", "", true);scroll("inventory-content");'>
            <h3 class="text-white">Search</h3>
          </a>

          <a href="#" onclick='loader("inventory-content", "templates", "inventory-supply-search", "", "", true);scroll("inventory-content");'>
            <p class="text-white">Search Inventory Supply</p>
          </a>
        </div>
        <div class="icon">
          <a href="#" onclick='loader("inventory-content", "templates", "inventory-supply-search", "", "", true);scroll("inventory-content");'>
            <i class="fa fa-list-alt text-white"></i>
            <i class="fa fa-search text-white"></i>
          </a>
        </div>
        <a href="#" onclick='loader("inventory-content", "templates", "inventory-supply-search", "", "", true);scroll("inventory-content");' class="small-box-footer text-white">Search Inventory Supply <i class="fa fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-aqua">
        <div class="inner">
          <a href="#" onclick='loader("html-content", "popup", "inventory-update", "", "", false);'>
            <h3 class="text-white">Update</h3>
          </a>

          <a href="#" onclick='loader("html-content", "popup", "inventory-update", "", "", false);'>
            <p class="text-white">Update Inventory</p>
          </a>
        </div>
        <div class="icon">
          <a href="#" onclick='loader("html-content", "popup", "inventory-update", "", "", false);'>
            <i class="fa fa-list-alt text-white"></i>
            <i class="fa fa-edit text-white"></i>
          </a>
        </div>
        <a href="#" onclick='loader("html-content", "popup", "inventory-update", "", "", false);' class="small-box-footer text-white">Update Inventory <i class="fa fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 clinical-feature">
      <!-- small box -->
      <div class="small-box bg-primary">
        <div class="inner">
          <a href="#" onclick='loader("html-content", "popup", "inventory-apis", "", "", false);'>
            <h3 class="text-white">APIs</h3>
          </a>

          <a href="#" onclick='loader("html-content", "popup", "inventory-apis", "", "", false);'>
            <p class="text-white">APIs - Inventory</p>
          </a>
        </div>
        <div class="icon">
          <a href="#" onclick='loader("html-content", "popup", "inventory-apis", "", "", false);'>
            <i class="fa fa-list-alt text-white"></i>
            <i class="fa fa-medkit text-white"></i>
          </a>
        </div>
        <a href="#" onclick='loader("html-content", "popup", "inventory-apis", "", "", false);' class="small-box-footer text-white">APIs - Inventory <i class="fa fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-red">
        <div class="inner">
          <a href="#" onclick='loader("html-content", "popup", "inventory-inactivate", "", "", false);'>
            <h3 class="text-white">Inactivate</h3>
          </a>

          <a href="#" onclick='loader("html-content", "popup", "inventory-inactivate", "", "", false);'>
            <p class="text-white">Inactivate Inventory</p>
          </a>
        </div>
        <div class="icon">
          <a href="#" onclick='loader("html-content", "popup", "inventory-inactivate", "", "", false);'>
            <i class="fa fa-list-alt text-white"></i>
            <i class="fa fa-times text-white"></i>
          </a>
        </div>
        <a href="#" onclick='loader("html-content", "popup", "inventory-inactivate", "", "", false);' class="small-box-footer text-white">Inactivate Inventory <i class="fa fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-black">
        <div class="inner">
          <a href="#" onclick='loader("html-content", "popup", "inventory-reactivate", "", "", false);'>
            <h3 class="text-white">Reactivate</h3>
          </a>

          <a href="#" onclick='loader("html-content", "popup", "inventory-reactivate", "", "", false);'>
            <p class="text-white">Reactivate Inventory</p>
          </a>
        </div>
        <div class="icon">
          <a href="#" onclick='loader("html-content", "popup", "inventory-reactivate", "", "", false);'>
            <i class="fa fa-list-alt text-white"></i>
            <i class="fa fa-check text-white"></i>
          </a>
        </div>
        <a href="#" onclick='loader("html-content", "popup", "inventory-reactivate", "", "", false);' class="small-box-footer text-white">Reactivate Inventory <i class="fa fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->

  <div id="inventory-content"></div>

</section>
<!-- /.content -->
<!-- page script -->
<script>
  $(function () {
    userAccessCheck();
    loader("inventory-content", "templates", "inventory-list", "", "", true);
  });
</script>
