<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    JenRx Pro
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-clipboard active"></i> JenRx Pro</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- START CUSTOM TABS -->

  <div class="row">
    <div class="col-md-12">
      <!-- Custom Tabs -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#JenRx_Pro" data-toggle="tab">JenRx Pro</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="JenRx_Pro">
            <p>
              <b>JenRx Pro:</b>
            </p>

            <div class="alert alert-danger">
              <h4><i class="icon fa fa-clipboard"></i> License Expired</h4>
              <p>
                Get JenRx Pro license to activate JenRx Pro features.
              </p>
            </div>

            <p>
              <button class="btn btn-success" onclick='navigateURL("https://www.JenioSolutions.com/#pricing");'><i class="fa fa-clipboard"></i> Get JenRx Pro</button>
            </p>

          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <!-- END CUSTOM TABS -->

</section>
<!-- /.content -->
