<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Payroll
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-money active"></i> Payroll</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-green">
        <div class="inner">
          <a href="#" onclick='loader("html-content", "popup", "payroll-add", "", "", false);'>
            <h3 class="text-white">Add</h3>
          </a>

          <a href="#" onclick='loader("html-content", "popup", "payroll-add", "", "", false);'>
            <p class="text-white">Add Payroll</p>
          </a>
        </div>
        <div class="icon">
          <a href="#" onclick='loader("html-content", "popup", "payroll-add", "", "", false);'>
            <i class="fa fa-money text-white"></i>
            <i class="fa fa-plus text-white"></i>
          </a>
        </div>
        <a href="#" onclick='loader("html-content", "popup", "payroll-add", "", "", false);' class="small-box-footer text-white">Add Payroll <i class="fa fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
      <!-- small box -->
      <div class="small-box bg-primary">
        <div class="inner">
          <a href="#" onclick='loader("payroll-content", "templates", "payroll-search", "", "", true);scroll("payroll-content");'>
            <h3 class="text-white">Search</h3>
          </a>

          <a href="#" onclick='loader("payroll-content", "templates", "payroll-search", "", "", true);scroll("payroll-content");'>
            <p class="text-white">Search Payroll</p>
          </a>
        </div>
        <div class="icon">
          <a href="#" onclick='loader("payroll-content", "templates", "payroll-search", "", "", true);scroll("payroll-content");'>
            <i class="fa fa-money text-white"></i>
            <i class="fa fa-search text-white"></i>
          </a>
        </div>
        <a href="#" onclick='loader("payroll-content", "templates", "payroll-search", "", "", true);scroll("payroll-content");' class="small-box-footer text-white">Search Payroll <i class="fa fa-arrow-circle-right text-white"></i></a>
      </div>
    </div>
    <!-- ./col -->
  </div>
  <!-- /.row -->

  <div id="payroll-content"></div>

</section>
<!-- /.content -->
<!-- page script -->
<script>
  $(function () {
    userAccessCheck();
    loader("payroll-content", "templates", "payroll-search", "", "", true);
  });
</script>
