<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Policy
    <small></small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-file-text-o active"></i> Policy</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <!-- START CUSTOM TABS -->

  <div class="row">
    <div class="col-md-12">
      <!-- Custom Tabs -->
      <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#Usage_Report_Policy" data-toggle="tab">Usage Report Policy</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="Usage_Report_Policy">
            <p>
              <b>Usage Report Policy:</b>
            </p>

            <p>
              This helps us anonymously collate data such as usage, errors & reports so we can improve the features, functionalities and clinical intelligence of the app.
            </p>
          </div>
          <!-- /.tab-pane -->
        </div>
        <!-- /.tab-content -->
      </div>
      <!-- nav-tabs-custom -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
  <!-- END CUSTOM TABS -->

</section>
<!-- /.content -->
